<div style="width: 100%; display: flex; justify-content: center;">
  <div style="width: 98%; height:100%; ">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alert && isSuccess">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alert && !isSuccess">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="head-productPage mt-2">
      <button class="btn add_btn" (click)="openAdd()">Add product</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" [appSort]="categoryList" data-order="desc" data-name="id">Id</th>
          <th scope="col" [appSort]="categoryList" data-order="desc" data-name="id">Name</th>
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoryList | paginate: {itemsPerPage: itemPerPage, currentPage: page}">
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>
            <button type="button" class="btn update_btn mr-2" (click)="openUpdate(category)">Update</button>
            <button type="button" class="btn btn-danger" (click)="delete(category)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- pagination -->
    <div class="table-footer mt-2">
      <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
      <select class="selectpicker show-tick" [(ngModel)]="itemPerPage">
        <option value="5">5 items per page</option>
        <option value="6">6 items per page</option>
        <option value="7">7 items per page</option>
      </select>
    </div>
  </div>
</div>
