<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div>
        Do you want to <strong>Sign out</strong>?
    </div>
   <div class="button-group mt-3">
    <button type="btn" class="btn mr-2 confirm" (click)="confirm()">Yes</button>
    <button type="btn" class="btn" (click)="cancel()">Cancel</button>
   </div>
  </div>
  