$success: #198754;
$danger:#dc3545;
$black: #212529;
$primary: #1d1919;
$dark-primary: #131010;

$yellow: #f8b739;
$dark-yellow: #eeac28;

$light-yellow: #ffdd93;

th, tr, .td_btn{
    text-align: center;
}

tbody > tr:hover {background-color: #ddd;}

.btn{
    margin-right: 5px;
}

.detail-btn{
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}


//icon
.bi{
    font-size: 2rem; 
}

.bi-info-circle-fill:hover{
    cursor: pointer;
}

.bi-check-circle-fill{
    color: $yellow;
}

.bi-x-circle-fill{
    color: $primary;
}

//------------HEAD-OF-PAGE----------
.head-productPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seacrh{
    display: flex;
    flex-direction: row;
}

.table{
    margin: 20px 0 0 0;
    border-radius: 5px;
    background-color: white;
}

//custom btn
.update_btn{
    color: white;
    background-color: $primary;
    border-color: $primary;
    &:hover{
        // color: $primary;
        background-color: $dark-primary;
        ;
    }
}

.add_btn{
    font-weight: bold;
    color: white;
    background-color: $yellow;
    border-color: $yellow;
    &:hover{
        // color: $primary;
        background-color: $dark-yellow;
        ;
    }
}

//custom footer of the page
.table-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    select{
        margin-right: 2.75rem;
        border-radius: 5px;

        option:hover{
            background-color: $yellow !important;
        }
    }
}

//pagination custom
.my-pagination ::ng-deep .ngx-pagination{
    color: $black;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: $yellow;
}

.my-pagination ::ng-deep .ngx-pagination a:hover {
    background: $light-yellow;
    text-decoration: none;
}