$primary: #1d1919;
$yellow: #f8b739;
$light-yellow: #ffdd93;


.icons-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    height: 1.5rem;
    width: 1.5rem;
}

.info{
    display: flex;
    flex-direction: row;
    p{
        margin: 0;
    }
}

a{
    color: $primary;
}

.dropdown-item{
    cursor: pointer;

    &:hover{
        background-color: $light-yellow;
    }

    &:active{
        background-color: $yellow;
    }
}

.nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: .25rem;
    margin-top: -.25rem;
}

.img-profile{
    vertical-align: middle;
    border-style: none;
    height: 2rem;
    width: 2rem;
}